* {
     box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.header {
    text-align: center;
}

.column {
    width: 33.33333333333333%;
    display: inline-block;
    padding-right: 20px;
    float: left;
}

.main-text {
    padding-top: 40px;
    clear: both;
}

.image img {
    width: 100%;
}

.skill h3 {
    text-align: center;
    text-transform: uppercase;
}

#skill-list {
    margin-left: 50px;
}

body {
    background-color: #fffeea;
    color: #34495e;
}

.skill {
    background-color: #54d4c2;
}

/*Typography*/

h1,
h2,
h3 {
    font-family:  playfair display, helvetica, arial, sans-serif;
}

.intro p {
    font-family: roboto, helvetica, arial, sans-serif;
    font-size: 2em;
    font-weight: 500;
    -webkit-margin-before: 0;
}

p,
li {
    font-family: work sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

