/* ============ index.html =========== */

.jumbotron {
    background-image: url("/img/mountain.jpeg");
    background-size: cover;
}

.jumbotron p {
    color: white;
}

.jumbotron h1 {
    font-family: playfair display, helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 60px;
}

.col-sm {
    background-color: rgba(121, 128, 134, 0.089);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#about {
    color: white;
}

#contact {
    color: white;
    padding-left: 20px;
}

#faq {
    color: white;
    padding-left: 20px;
}

#carouselExampleIndicators {
    padding-top: 45px;
}

/* .projects {
    padding: 30px 30px;
} */

.work-projects {
    width: 80%;
    margin: auto;
}

.proj-img {
    padding: 30px 30px;
}

/* ========== about.html ========== */


.main-text {
    padding-top: 40px;
    clear: both;
}

.image img {
    width: 100%;
}

.skill h3 {
    text-align: center;
    text-transform: uppercase;
}

#skill-list {
    margin-left: 50px;
}

body {
    background-color: #fffeea;
    color: #34495e;
}

.skill {
    background-color: #54d4c2;
}

.column {
    width: 33.33333333333333%;
    display: inline-block;
    padding-right: 20px;
    float: left;
}

.main-text {
    padding-top: 40px;
    clear: both;
}

.image img {
    width: 100%;
    border-radius: 20px;
}

.skill h3 {
    text-align: center;
}

body {
    background-color: #eeeeee;
    color: #34495e;
}

.skill {
    text-align: left;
    background-color: rgba(52, 73, 94, 0.75);
    border-radius: 20px;
    color: #eeeeee;
}

/* =============== contact.html =============== */

.background-contact {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eeeeee;
}

.contact-container {
    color: white;
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
    background-color: rgba(52, 73, 94, 0.75);
    padding: 20px;
}

.contact-container a {
    color: white;
    text-decoration: none;
}

.header {
    margin: 125px;
    color: #34495e;
    text-align: center;
}

li {
    padding-bottom: 10px;
    list-style:  none;
}

.left {
    float: left;
    padding-left: 20px;
}

.right {
    float: right;
    padding-right: 20px;
}

nav {
    padding-top: 20px;
    background-color: #eeeeee;
    border-bottom: 1px solid #34495e;
    position: fixed;
    width: 100% !important;
    top: 0;
    left: 0;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: #34495e;
    margin: 0px 5px; 
}

nav a:hover {
    color: #eeeeee;
    background-color: #34495e;
    -webkit-transition: all 600ms ease-out;
}

.nav-bar {
    padding: 20px 0 0;
}

li i {
    padding: 10px;
    font-size: 25px;
}


/*Typography*/

h1,
h2,
h3,
h5 {
    font-family:  playfair display, helvetica, arial, sans-serif;
}

.intro p {
    font-family: work sans, helvetica, arial, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    -webkit-margin-before: 0;
}

p,
li {
    font-family: work sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
} 

nav {
    font-family: work sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.lead {
    font-weight: 400;
}

.card-body {
    font-family: work sans, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.card-header {
    font-family: work sans, Arial, Helvetica, sans-serif;
}

/* ========== FAQ.html ========== */

h5 button {
    border: none;
    font-family: work sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.card-header button {
    color: #34495e;
}

