/* ============ index.html =========== */

.jumbotron {
    background-image: url("/img/mountain.jpeg");
    background-size: cover;
}

.jumbotron p {
    color: white;
}

.jumbotron h1 {
    font-family: playfair display, helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 60px;
}

.col-sm {
    background-color: rgba(121, 128, 134, 0.089);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#about {
    color: white;
}

#contact {
    color: white;
    padding-left: 20px;
}

/* ========== about.html ========== */

/* * {
     box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.header {
    text-align: center;
}

.column {
    width: 33.33333333333333%;
    display: inline-block;
    padding-right: 20px;
    float: left;
}

.main-text {
    padding-top: 40px;
    clear: both;
}

.image img {
    width: 100%;
}

.skill h3 {
    text-align: center;
    text-transform: uppercase;
}

#skill-list {
    margin-left: 50px;
}

body {
    background-color: #fffeea;
    color: #34495e;
}

.skill {
    background-color: #54d4c2;
}

/*Typography*/

/* h1,
h2,
h3 {
    font-family:  playfair display, helvetica, arial, sans-serif;
}

.intro p {
    font-family: roboto, helvetica, arial, sans-serif;
    font-size: 2em;
    font-weight: 500;
    -webkit-margin-before: 0;
}

p,
li {
    font-family: work sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
} */ 

/* =============== contact.html =============== */

/* .background-contact {
    background-image: url("/img/victoria.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */



